<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestCases.NetBanking_TestCases"/>
      <class name="TestCases.HomePage_TestCase"/>
      <class name="TestCases.LoansTestCases"/>
      <class name="TestCases.Login_TestCases"/>
      <class name="TestCases.MyAccount_TestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
